<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>



<form class="pure-form pure-form-aligned">
    <fieldset>
        <div class="pure-control-group">
            <label for="name">Username</label>
            <input id="name" type="text" placeholder="Username">
        </div>

        <div class="pure-control-group">
            <label for="password">Password</label>
            <input id="password" type="password" placeholder="Password">
        </div>
        <div class="pure-control-group">
            <label for="verify">Verify Password</label>
            <input id="verify" type="password" placeholder="Verify Password">
        </div>
        <button typee="submit" class="pure-button pure-button-primary">Submit
        </button>
    </fieldset>
</form>

</body>
</html>