<!DOCTYPE html>
<html lang="en" xmlns:th="hhtp://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Amenti</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
    <script type="text/javascript"src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>




</head>
<body>

<nav th:fragment="navigation" style="display: flex; justify-content: space-between; flex-wrap: wrap; align-items: center">
    <div>
        <a href="/amenti">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/amenti/add">Add a Supplement</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/user/add">Become a Member</a>&nbsp;&nbsp;
        <a href="/login/index">Logout</a>
    </div>
    <div class="container">
    <ul class="nav nav-tabs" th:each="supplement : ${supplements}" >
        <li class="nav-item">
            <a class="nav-link active" href="#">Everyday Use</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Heart Health</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Brain Health</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Immune Support</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Prenatal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Weight Loss</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Miscellaneous</a>
        </li>
    </ul>
    </div>
</nav>


</body>
</html>