<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head></head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:600px;" th:object="${supplement}">
    <div class="form-group">
        <label th:for="brand">Brand Name</label>
        <input class="form-control" th:field="*{brand}" placeholder="Name of the Brand" />
        <span th:errors="*{brand}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="*{name}" placeholder="Name of the Supplement" />
        <span th:errors="*{name}" class="error"></span>
    </div>
        <div class="form-group">
            <label th:for="description">Description</label>
            <input class="form-control" th:field="*{description}"  placeholder="Describe this Item"/>
            <span th:errors="*{description}" class="error"></span>
        </div>
    <div class="form-group">
        <label th:for="type">Category of this supplement</label>
       <select th:field="*{type}">
            <option th:each="supplementsType : ${supplementsType}"
                    th:text="${supplementsType.name}"
                    th:value="${supplementsType}"></option>

        </select>
    </div>


<div>
    <input type="submit" value="Add Supplement" />
</div>

</form>

</body>
</html>