<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

    <h1 th:text="${title}"></h1>

    <nav th:replace="fragments :: navigation"></nav>



    <h2>Your Added Items</h2>
    <p th:unless="${supplements} and ${supplements.size()}">You have not added items yet</p>

    <table class="table">

        <tr>
            <th>Supplement Brand</th>
            <th>Name</th>&nbsp;&nbsp;
            <th>Description</th>&nbsp;&nbsp;
            <th>Category</th>
            <th>Rating</th>
        </tr>

        <tr th:each="supplement : ${supplements}">
            <td th:text="${supplement.brand}"></td>
            <td th:text="${supplement.name}"></td>
            <td th:text="${supplement.description}"></td>
            <td th:text="${supplement.type.name}"></td>
            <td th:text="${supplement.rating}"></td>
        </tr>
    </table>

</body>
</html>