<!--<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head></head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post">

    <div th:each="sups : ${sups}" class="checkbox">
        <input type="checkbox" name="supsIds" th:value="${sups.id}" th:id="${sups.id}" />
        <label th:for="${sups.id}" th:text="${sups.name}"></label>
        <br />
    </div>

    <input type="submit" value="Remove this Favorite" />
</form>



</body>
</html>